body {
  background: #2380cd27;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.signup-page {
  margin: 50px auto;
  width: 60%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px lightblue;
  margin-top: 200px;
}
@media (max-width: 1250px) {
  .signup-page {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

.signup-page .left {
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("../utils/signup-background.jpg"); */
  background-image: url("https://img.lovepik.com/background/20211021/large/lovepik-simple-technology-background-image_401691138.jpg");
  overflow: hidden;
  width: 100%;
}
.signup-page .left .overlay {
  padding: 40px;
  width: 100%;
  height: 100%;
  background: #135e7379;

  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-page .left .overlay h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
}

.signup-page .right {
  padding: 40px 40px 15px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 980px) {
  .signup-page .right {
    width: 100%;
  }
}
.signup-page .signup-header {
  font-size: 5vmax;
}

.signup-page .right .inputs {
  width: 300px;
  padding: 10px;
  display: flex;
  align-items: baseline;
}
#confirm-password-text {
  color: red;
  font-size: 15px;
  padding-bottom: 5px;
}
.signup-page .right .signup-input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}

.signup-page .forget-pass {
  font-size: 14px;
  color: #b0b3b9;
  display: flex;
  width: inherit;
  flex-direction: row-reverse;
}

.signup-page .right .submit-button {
  color: #fff;
  margin: 50px 20px 70px 20px;
  padding: 12px 35px;
  border-radius: 15px;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px lightblue;
  background-image: linear-gradient(135deg, #0c38bda2 10%, #0048ff 100%);
  cursor: pointer;
}
